.bio {
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
  &__frase {
    height: auto;
    text-align: center;

    p {
      margin: 100px 180px;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
      color: $colorNegro;
      text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
    }
  }

  &__info {
    display: flex;
    flex-flow: column;

    h2 {
      span {
        font-size: 30px;
      }
        color:  $colorNegro;
        font-size: 60px;
        text-align: center;
        font-family: 'Playfair Display', serif;
      }
      p {
        text-align: justify;
        line-height: 1.8;
        padding: 30px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
      }
      a {
        background: $colorRosa;
        margin: 0 150px;
        width: 300px;
        padding: 10px;
        text-align: center;
        @include sombra;
        text-decoration: none;
        color: #000;
        border-radius: 5px;
      }

      a:hover {
        background:$colorNegro;
        color:$colorBlanco;
      }
  }
}
