footer {
    height: auto;
    background: $colorGris;
    text-align: center;
    padding: 30px;
    h3 {
        color: white;
        font-size: 60px;
        padding: 20px;
        font-family: 'Playfair Display', serif;
    }
    label{
        width: 100%;
        color: $colorBlanco;
    }
    input,textarea{
        width: 60%;
        color: white;
        margin: 2px;
        padding: 1px;
        background-color: rgb(202, 195, 195);
        &:focus{
            outline: 0;
            border-color: #fff;
            background-color: $colorGris;
        }
        border-radius: 5px;
    }
            
    textarea{
        resize: vertical;
    }
    button {
        width: 100px;
        margin: 20px;
        padding: 5px;
        background: $colorRosa;
        @include sombra;
    }

    button:hover {
        background: $colorNegro;
        color: $colorBlanco;
        transition: 1s;
    }
    .redes {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        a{
            font-size: 40px;
            color: $colorNegro;
        }
        a:hover {
            color: blueviolet;
        }

    }   
    p {
        color:#fff;
        padding: 50px 100px;
        font-size: 14px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
}